body {
    font-family: 'Roboto', sans-serif;
    background-color: violet;
}

input {
    border-radius: 5px;
    border-color: rgb(214, 214, 214);
    border-style: solid;
}

.container {
    display: flex;
    justify-content: center;
}

.form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    border-style: none;
}

#titulo {
    display: flex;
    justify-content: center;
    color: white;
}
#avatar-img{
    width: 350px;
    display: flex;
    justify-content: center;
}


#user {
    height: 22px;
    width: 342px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#pass {
    height: 22px;
    width: 342px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#login {
    background-color: green ;
    color: white ;
    width: 350px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#esqueceu {
    color:blue;
}