#titulo {
    display: flex;
    justify-content: center;
}
#avatar-img{
    width: 350px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

#user {
    height: 22px;
}

#pass {
    height: 22px;
}

#login {
    background-color: green ;
    color: white ;
    width: 350px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#esqueceu {
    color:blue;
}