#avatar-img{
    width: 350px;
    display: flex;
    justify-content: center;
}

#login {
    background-color: green ;
    color: white ;
    width: 200px;
    height: 40px;
    margin-top: 25px;
}

#esqueceu {
    color:blue;
}